
.link {
  stroke: steelblue;
  stroke-width: 3;
}
.node{
	stroke: white;
	stroke-width: 1.5px;
}
.node_label{
	stroke:none;
}

#graph_panel{
	float:left;
	min-width:600px;
	min-height: 600px;

}

#selection_panel{
/*	float: right;
	min-height: 600px;
	min-width: 300px;
	display: block;
	*/
	position: relative;
}

p{
	margin:0em;
}
